@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
#logo {
    height: 8rem;
    width: 17rem;
    margin-left: 2rem;
    position: relative;
    top: 1.5rem;
  }
  
  .container {
    height: 50rem;
    object-fit: cover;
  }
  .mid {
    display: block;
    width: 33%;
    margin: 30px auto;
  }
  #img2 {
    width: 99rem;
    margin-top: -12rem;
    height:200rem;
    
  }
  
  nav {
    position: absolute;
    top: 3rem;
    height: 40px;
    border-radius: 2rem;
    text-align: center;
    padding-top: 20px;
  }
  nav a {
    color: black;
    padding: 30px;
    font-size: 30px;
    font-family: 'Lemonada', cursive;
    font-weight: normal;
    text-decoration: none;
  }
  #img2 {
    width: 99rem;
    margin-top: -12rem;

  }
  .container1{
    width:60rem;
    height:50rem;
    position:absolute;
    top:15rem;
    margin-left: 17rem;
    text-align: center;

  }
  #search {
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    
    font-size: 2.5rem;
    font-family: 'Lemonada', cursive;
}
#h1{
    font-family: 'Lemonada', cursive;
    font-size: 3rem;
    color:rgb(88, 5, 136);

}
#label{
    font-size: 1.5rem;
    font-family: 'Lemonada', cursive;
}
input{
    height: 2rem;
    border-radius: 1rem;
    margin-left: 1rem;
}
#results {
    list-style: none;
    margin: 0;
    padding: 0;
    height:2rem;
    margin-top:2rem;
    font-family: 'Lemonada', cursive;
}
#results li {
    margin-bottom: 10px;
}
button{
    height:2rem;
    width:6rem;
    background-color: yellowgreen;
    border-radius: 1rem;
    margin-left: 1rem;
}